frontend http
    bind *:8080
    mode http
    timeout client 10s
    use_backend all

backend all
    mode http
    server s1 api-gateway1:5011
    server s2 api-gateway2:5012
    server s3 api-gateway3:5013
